* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --blue: #54cfe2;
  --darkblue: #0092b7;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  background-color: var(--darkblue);
  width: 100%;
  padding: 0 0 30px 0;
  margin: 0;
  border: 0px;
  height: 55px;
}

h1 {
  font-family: serif;
  color: #e8e8e8;
  justify-content: flex-start;
  font-size: 5.4em;
  border-radius: 20px 20px 20px 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 10px;
  border: 0;
}

nav {
  display: flex;
  font-weight: 900px;
  font-size: 2em;
  text-decoration: underline;
  margin-left: 400px;
  margin-top: 40px;
}

nav a {
  padding: 10px;
  text-align: center;
  color: #e8e8e8;
}

body {
  margin: 0 auto;
  background-color: #d6d6d6;
}

main {
  margin: 60px 20px;
}

h2 {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding-right: 20px;
  width: 10%;
  text-align: right;
  margin-right: 30px;
  margin-left: 20px;
}

div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.portfolio {
  display: flex;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 60%;
  font-size: 18px;
  border-left: 5px var(--darkblue) solid;
  padding-left: 25px;
}

.pics {
  position: relative;
  display: block;
  margin: 0;
  border: 0;
  padding: 10px;
}

img {
  height: 220px;
  border: 5px solid #54cfe2;
}

#cat {
  height: auto;
  max-width: 70%;
  margin-left: 90px;

}

.line {
  display: block;
  display: flex;
  flex-wrap: wrap;
  width: 70%;

}

p {
  position: relative;
  font-size: 18px;
  border-left: 5px var(--darkblue) solid;
  padding-left: 25px;
}

footer {
  bottom: 0;
  border-bottom: 20px var(--darkblue) solid;
  width: 100%;
}