* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  background-color: #ffb6e8;
  width: 100%;
  padding: 0 0 20px 0;
  margin: 0;
  border: 0;
  height: 55px;
}

h1 {
  justify-content: flex-start;
  margin-left: 80px;
  font-size: 5em;
  background-color: #54cfe2;
  padding-left: 50px;
  padding-right: 5px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  border: 0;
}

nav {
  display: flex;
  align-items: center;
  color: #610f47;
  font-weight: 900px;
  font-size: 1.8em;
  text-decoration: underline;
  margin-left: 400px;
  margin-top: 20px;
}

nav a {
  padding: 10px;
  text-align: center;
}

body {
background-color: #d6d6d6;
}

h2 {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding-right: 20px;
  width: 10%;
  text-align: right;
  margin-right: 30px;

}

div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 4rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
}

img {
  position: relative;
  width: 50%;
  height: 150px;
}

#cat {
  order: 5;
  width: 100%;
}

.line {
display: flex;
flex-wrap: wrap;
width: 70%;

}

p {
  position: relative;
  font-size: 18px;
  border-left: 3px #ffb6e8 solid;
  padding-left: 25px;
}

footer {
  bottom: 0;
  border-bottom: 20px #747474 solid;
  width: 100%;
}